[submodule "rest-rpc-sample"]
	path = rest-rpc-sample
	url = git@github.com:wzhao0928/rest-rpc-sample.git
[submodule "sbt-rest-rpc"]
	path = sbt-rest-rpc
	url = git@github.com:wzhao0928/sbt-rest-rpc.git
[submodule "rest-rpc-play"]
	path = rest-rpc-play
	url = git@github.com:wzhao0928/rest-rpc-play.git
[submodule "rest-rpc-core"]
	path = rest-rpc-core
	url = git@github.com:wzhao0928/rest-rpc-core.git
